PIHOLE_INTERFACE={{ iface }}
IPV4_ADDRESS={{ ipv4_address }}
IPV6_ADDRESS={{ ipv5_address }}
QUERY_LOGGING={{ query_logging }}
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
WEBPASSWORD={{ webpassword }}
DHCP_ACTIVE={{ dhcp_active }}
DHCP_START={{ dhcp_start }}
DHCP_END={{ dhcp_end }}
DHCP_ROUTER={{ dhcp_router }}
DHCP_LEASETIME=168
PIHOLE_DOMAIN={{ pihole_domain }}
DHCP_IPv6=false
DNSMASQ_LISTENING=single
PIHOLE_DNS_1={{ pihole_dns1 }}
PIHOLE_DNS_2={{ pihole_dns2 }}
DNS_FQDN_REQUIRED={{ dns_fqdn_required }}
DNS_BOGUS_PRIV=true
DNSSEC=false
CONDITIONAL_FORWARDING=false
