PIHOLE_INTERFACE={{ iface }}
IPV4_ADDRESS={{ ipv4_address }}
IPV6_ADDRESS={{ ipv6_address }}
PIHOLE_DNS_1={{ pihole_dns1 }}
PIHOLE_DNS_2={{ pihole_dns2 }}
QUERY_LOGGING={{ query_logging }}
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
WEBPASSWORD={{ webpassword }}
